body {
	background-color: #FAF0E6;
}

/*ID styling for header section and Title of page*/
/*The font size, color and text-align is changed. These have been set directly against the hx defaults, with font-size being crossed out.*/
#headerStyle{
	
	background-color: #ADD8E6;
	border-style: solid;
	border-width: 5px;
	border-color: #191970;
	text-align: center;
	font-size: 30px;
	color: #191970;
	margin: 10px;
}

/*ID styling for text under the Title in header section*/
/*The font size, color and text-align is changed. These have been set directly against the hx defaults, with font-size and color being crossed out.*/
#headerSubTextStyle{
	color: #2F4F4F;
	font-size:20px;
}



/*Class styling for navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #191970;
  overflow: hidden;
}

/* Class styling for the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Class styling. Change the color of links on hover */
.topnav a:hover {
  background-color: #ADD8E6;
  color: black;
}

/* Class styling. Add a color to the active/current link */
.topnav a.active {
  background-color: #ADD8E6;
  color: white;
}







/*Class styling for the blocks that contain the sub-titles on the page*/
.blockSubTitleStyle{
	background-color: #ADD8E6;
	border-style: solid;
	border-width: 3px;
	border-color: #191970;
	text-align: center;
	height: 45px;
	max-width: 400px;
	margin: 10px;
	padding-bottom: 15px
}

/*lass styling for the actual sub-title text on the page*/
/*The color, text-align and font-size have been changed. These also now go against the hx defaults.*/
.subTitleStyle{
	color: #191970;
	text-align: center;
	font-size: 25px;
}


/*Class styling for the actual paragraph text on the page*/
/*The color, text-align, font-size, and padding have been changed. These go against the p default elements with text-align being crossed out completely.*/
.textStyle{
	color: #2F4F4F;
	font-size: 15px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

/*Class styling for the indented text in resume*/
.resumeTextStyle{
	color: #2F4F4F;
	font-size: 15px;
	text-indent: 10%
}




/*Class styling for the block that contains the paragraph text under the education sub-title*/
.blockTextStyle{
	background-color: #F0F8FF;
	border-style: solid;
	border-width: 1.5px;
	border-color: #191970;
	height: 100%;
	margin: 10px;
	text-align: left;
}

/*Class styling for the block that contains the cover letter content*/
.CoverLetterStyle{
	background-color: #F0F8FF;
	border-style: solid;
	border-width: 1.5px;
	border-color: #191970;
	height: 100%;
	margin: 10px;
	text-align: justify;
	
	padding-left: 10px;
	padding-right: 10px;
}


/*Class styling for the years*/
/*The color, font-weight, and font-size have been changed. These go against the p default elements.*/
.years_leftSide{
	color: #2F4F4F;
	font-size: 15px;
	font-weight: bold;
}

